.product-detail-back-btn {
    border: 1px solid #828d8d;
    width: 5rem;
}

.product-detail-back-btn-div {
    border: 1px solid #e7e7e7;
    background-color: #e7e7e7;
}

.product-detail-img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
